<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.yc.spring.Hello">  
    </bean>
    
    <bean id="mdao" class="com.yc.spring.dao.MySQLUserDao">  
    </bean>
    
    <bean id="odao" class="com.yc.spring.dao.OracleUserDao">  
    </bean>
    
    
    <!-- 
    Spring 依赖注入(DI)注入的方式有三种
    注入对象属性初始化设置
    1.setter注入(set方法注入)
    2.构造方法注入
    3.接口注入==》SpringMVC大量的应用
    
     -->
     
     <!-- 注入的例子使用的是实体对象，实际开发中很少对实体对象设值 -->
     <bean id="p1" class="com.yc.spring.bean.Person">
          <property name="name" value="武松"></property>
          <property name="age" value="35"></property>
          <property name="killeds">
               <list>
                  <value type="java.lang.String">潘金莲</value>
                  <value >西门庆</value>
                  <value type="java.lang.String">蒋门神</value>
                  <value>null</value>
                  <null></null>
               </list>
          </property>
     </bean>

   


</beans>